body {
    padding-top: 65px;
    padding-bottom: 65px;
}

.padded-row {
    margin-top: 30px;
}

img.mpl-plot {
    max-width: 100%;
}

a.glyphicon.glyphicon-question-sign,
a.glyphicon.glyphicon-question-sign:hover,
a.glyphicon.glyphicon-question-sign:focus,
span.glyphicon.glyphicon-question-sign {
    font-size: 14px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.borderless td, .borderless th, .borderless tr {
    border: none !important;
}

.scaling-error {
    margin-top: 30px;
}

#global-error-message .glyphicon-remove {
    cursor: pointer;
}